<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="container">
        <div class="left-side">
            <div class="h1"><h1>Create Landing Page<br> Easy, Super Fast</h1></div>
            <div class="p"><p>from open source to pre services. Piques helps you to build, <br>deploy, trest, and monitor apps.</p></div>
            <br> <br>
            <div class="input-group">
                <input  class="address" type="text" placeholder="Your email address" required> 
                <button class="startfree"><b>Start Free Trial</b></button>
            </div>
            <br>
           <div class="play" ><img class="play-icon" src="assets/images/playwhite.svg" alt=""><p>How Appmeet works for you?</p></div>
        </div> 
        <div class="right-side">
            <img class="logo" src="assets/images/woman-image.png" alt="">
        </div>
        </div>
    </body>
</body>
</html>
