<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="container">
        <div class="left-side">
            <h1>Create Landing Page Easy, Super Fast</h1>
            <p>from open source to pre services. Piques helps you to build, deploy, trest, and monitor apps.</p>
            <br> <br>
            <input type="text" placeholder="Your email address" required> 
            <input type="text" placeholder="StartFree trial">
            <br>
            <p>How Appmeet works for you?</p>
        </div>
        <div class="right-side">
            <img src="assets/images/woman-image.png" alt="">
        </div>
        </div>
    </body>
</body>
</html>
