<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appmeet_header</title>
</head>
<body>
    <header class="header">
        <div class="h-components">
            <img src="assets/images/logo.svg" alt="Appmeet Logo">
            <a href="">Home</a>
            <a href="">Features</a>
            <a href="">Pricing</a>
            <a href="">Team</a>
            <a href="">Reviews</a>
            <a href=""> Get it now</a>
        </div>
    </header>
</body>
</html>
