<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card1">
            <div class="logo"><img src="assets/images/bluelike.svg" alt=""></div>
            <div class="percent"><b>100%</b></div>
            <div class="text"><b>Satisfaction</b></div>
        </div>
        <div class="card1">
            <div class="logo"><img src="assets/images/blueusers.svg" alt=""></div>
            <div class="percent"><b>120K</b></div>
            <div class="text"><b>Happy Users</b></div>
        </div>
        <div class="card1">
            <div class="logo"><img src="assets/images/bluedownload.svg" alt=""></div>
            <div class="percent"><b>125K+</b></div>
            <div class="text"><b>Downloads</b></div>
        </div>
        <div class="card1">
            <div class="logo"><img src="assets/images/blueaward.svg" alt=""></div>
            <div class="percent"><b>50+</b></div>
            <div class="text"><b>Winning Award</b></div>
        </div>
    </div>
</body>
</html>
