<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="top">
             <div ><button class="team"><b>TEAM</b></button></div>
           <div>
               <h1 class="h1"><b>Meat Our Team</b></h1>
           </div>
           <div class="text1">
                <p>There are many variations of passages of Lorem Ipsum available, but the <br>majority have suffered alteration in some form.</p>
           </div>
        </div>
        <div class="bottom">
            <div class="photo-card">
                <img src="assets/images/team1.jpg" alt="Dahila Moore">
                <div class="text">
                    <h2>Dahila Moore</h2>
                    <p>Senior Manager</p>
                </div>
            </div>
             <div class="photo-card">
                <img src="assets/images/team2.jpg" alt="Jhone Digo">
                <div class="text"   >
                    <h2>Jhone Digo</h2>
                    <p>Marketing</p>
                </div>
            </div>
             <div class="photo-card">
                <img src="assets/images/team3.jpg" alt="Zara Tingo">
                <div class="text">
                    <h2>Zara Tingo</h2>
                    <p>Web Developer</p>
                </div>
            </div>
             <div class="photo-card">
                <img src="assets/images/team4.jpg" alt="David Zone">
                <div class="text">
                    <h2>David Zone</h2>
                    <p>SEO Expert</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
