<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
       <div class="top">
          <div ><button class="pricing"><b>PRICING</b></button></div>
           <div>
               <h1 class="h1"><b>Pricing Plan</b></h1>
           </div>
           <div class="text1">
                <p>There are many variations of passages of Lorem Ipsum available, but the <br>majority have suffered alteration in some form.</p>
           </div>
       </div>
       <div class="cards-container">
         <div class="card">
            <h2 class="h2">Freelancer</h2>
            <div class="text">All the basics for starting a new <br> business</div>
            <div class="dollar"><b>$24<sub>/mo</sub></b></div>
            <hr class="line">
            <ul class="list" type="none">
                <li><img src="assets/images/tick.svg" alt="">Cras justo odio.</li>
                <li><img src="assets/images/tick.svg" alt="">Dapibus ac facilisis in.</li>
                <li><img src="assets/images/tick.svg" alt="">Morbi leo risus.</li>
                <li><img src="assets/images/tick.svg" alt="">Potenti felis, in cras ligula.</li>
            </ul>
           <div> <button class="button-container"><b>Buy Freelancer</b></button> </div> 
         </div>
         <div class="card">
            <h2 class="h2">Startup</h2>
            <div class="text">All the basics for starting a new <br> business</div>
            <div class="dollar"><b>$32<sub>/mo</sub></b></div>
            <hr class="line">
            <ul class="list" type="none">
                <li><img src="assets/images/tick.svg" alt="">Cras justo odio.</li>
                <li><img src="assets/images/tick.svg" alt="">Dapibus ac facilisis in.</li>
                <li><img src="assets/images/tick.svg" alt="">Morbi leo risus.</li>
                <li><img src="assets/images/tick.svg" alt="">Potenti felis, in cras ligula.</li>
            </ul>
            <div><button class="button-container"><b>Buy Startup</b></button> </div>
         </div>
         <div class="card">
            <h2 class="h2">Enterprise</h2>
            <div class="text">All the basics for starting a new <br> business</div>
            <div class="dollar"><b>$48<sub>/mo</sub></b></div>
            <hr class="line"> 
            <ul class="list" type="none">
                <li><img src="assets/images/tick.svg" alt="">Cras justo odio.</li>
                <li><img src="assets/images/tick.svg" alt="">Dapibus ac facilisis in.</li>
                <li><img src="assets/images/tick.svg" alt="">Morbi leo risus.</li>
                <li><img src="assets/images/tick.svg" alt="">Potenti felis, in cras ligula.</li>
            </ul>
            <div > <button class="button-container"><b>Buy Enterprise</b></button> </div>
         </div>
       </div>
    </div>
</body>
</html>
