<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Ready to dive in?</h1>
            <h2>Start your free trial today.</h2>
        </div>
        <div class="right">
            <button class="b1"><b>Start Free Trial</b></button>
            <button class="b2"><b>Learn More</b></button>
        </div>
    </div>
</body>
</html>