<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="assets/images/newsletter-img.png" alt="Eigth Part Image">
        </div>
        <div class="right-card">
           <h2>Join Our Community</h2>
           <h1>Get latest app updates <br>Right at your inbox</h1>
           <div class="subscribe-container">
            <input type="email" placeholder="Your email address" class="email-field">
            <button type="submit" class="subscribe-button">Subscribe</button>
          </div>
        </div>
    </div>
</body>
</html>
