.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin-top: 20px;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.logo{
    width: 160px;
    height: 120px;
}
.links{
    display: flex;
    gap: 30px;
    /* justify-content: space-around; */
    text-decoration: none;
    color: rgb(9, 9, 66);
    font-size: 0.9rem;
    margin-top: 40px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color:rgb(9, 9, 66);      
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -40px;
    margin-bottom: -40px;
}
.line{
    width: 80%;
    height: 1px;
    margin-top: -15px;
    opacity: 20%;
}
.bottom{
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h-side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 600px; */
    margin-top: -40px;
}
.v-side{
    width: 60px;
    height: 70px;
    background-color: rgb(85, 49, 245);
    justify-content: right;
    margin-left: 1700px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.arrow{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}