<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
         <div class="top">
            <div class="left">
                <div class="logo1"><img src="assets/images/download.svg" alt=""></div>
                <div class="h1"><h1>1,25,000 Customers <br>Using The Application!</h1></div>
                <div class="text"><p>Big, small, online, offline, or other. Size doesn't matter. <br> We work on diverse projects for top brands as well as for cool <br> startups. Check out some of our favorites.</p></div>
                <div> <button class="button"><b>Download Now</b></button></div>
            </div>
            <div class="right">
                <img src="assets/images/l2-hero-image.png" alt="">
            </div>
         </div>
         <hr class="line">
         <div class="bottom">
            <div class="left2">
                <img src="assets/images/l2-content-img-1.png" alt="">
            </div>
            <div class="right2">
                 <div class="logo1"><img src="assets/images/table.svg" alt=""></div>
                <div class="h1"><h1>Seamless Loyalty</h1></div>
                <div class="text"><p>Collaborate over projects with your team and clients <br> optimised for mobile and tablets don't let slow page speeds <br> drive our innovative platform empowers anyone to convert <br> clicks ou'll publish your first landing page in minutes.</p></div>
                <div ><button class="button"><b>Get Started</b></button></div>
            </div>
         </div>
    </div>
</body>
</html>
