<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="secondpart">
    <div>
         <button class="feature">FEATURES</button>
    </div>
    <div class="heading">
         <h1>Appmeet has Awesome <br>  Stunning Feature  </h1>
    </div>
    <div class="description"> 
          <p>There are many variations of passages of Lorem Ipsum available, but the <br>majority have suffered alteration in some form.</p>
    </div>
    <div class="cards-container">
            <div class="card1">
                <div class="icon1">
                    <img class="image" src="assets/images/love.svg" alt="">
                </div>
                <div><h3 class="h1">Simple & Light</h3></div>
                <div class="p1">
                    <p>Appmeet is a completely creative,<br> lightweight, clean & super responsive <br> app landing page.</p>
                </div>
            </div>
            <div class="card1">
                <div class="icon1">
                    <img class="image"src="assets/images/grid.svg" alt="">
                </div>
                <div><h3 class="h1"> Super Responsive</h3></div>
                <div class="p1">
                    <p>Appmeet is a completely creative,<br> lightweight, clean & super responsive <br> app landing page.</p>
                </div>
            </div>
            <div class="card1">
                <div class="icon1">
                    <img class="image" src="assets/images/bug.svg" alt="">
                </div>
                <div><h3 class="h1">Bug Free Code</h3></div>
                <div class="p1">
                    <p>Appmeet is a completely creative,<br> lightweight, clean & super responsive <br> app landing page.</p>
                </div>
            </div>
    </div>
</div>
</body>
</html>
